<nav class="navbar navbar-expand bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/post-attivi']"
            routerLinkActive="active"
            >Post-Attivi</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/post-non-attivi']"
            routerLinkActive="active"
            >Post Non-Attivi</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
